@{
    ViewBag.Title = "The Company";
}
<div class="container">


    <div class="row">
        <div class="col-xs-12">
            <div class="header1">@ViewBag.Title</div>
        </div>
    </div>


    <div class="row">
        <div class="col-xs-12 toppadding">
            <p>AnnaChristinaOlga Productions.</p>
            <p>Årstaängsvägen 9A, Liljeholmen</p>
            </div>
        </div>
</div>