@{
    ViewBag.Title = "The Garage";
}


<div class="row">
    <div class="col-xs-12">
        <div class="header1">Welcome to The Garage!</div>
    </div>
 </div> 
<div class="row">
    <div class="col-md-6 col-xs-3">
        <div class="status-header">Vehicles in the Garage</div>
        <div class="status">
             @ViewBag.CountOfVehicle 
         </div>
   </div>
   <div class="col-md-6 col-xs-3">
           <p>
                <a href="/Vehicles"><img class="frontpageimage" src="~/Image/parling_front_big.png" /></a>

            </p>
   </div>
</div>

  